<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<nav>
    <li><a href="/home">/home</a></li>
    <li><a href="/users">/users</a></li>
    <li><a href="/about">/about</a></li>
    <li><a href="/contact">/contact</a></li>
    <li><a href="/news">/news</a></li>
</nav>